In [1]:
import pandas as pd

In [21]:
# 1. show 열의 딕셔너리에 중첩된 에피소드 데이터를 정규화하세요.
# 2. 각각의 show에 대한 개별 데이터프레임을 만드세요.
# 3. 각각의 데이터프레임을 통합 엑셀 문서로 저장하고 sheet_name은 알아서 하세요.

In [5]:
tv_show = pd.read_json('tv_shows.json')
tv_show.head()

                                               shows
0  {'show': 'The X-Files', 'runtime': 60, 'networ...
1  {'show': 'Lost', 'runtime': 60, 'network': 'AB...
2  {'show': 'Buffy the Vampire Slayer', 'runtime'...

In [12]:
# 1번
pd.json_normalize(data=tv_show['shows'],
                  meta=['show', 'runtime', 'network'],
                  record_path='episodes')

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX
...,...,...,...,...,...,...,...
477,7,18,Dirty Girls,2003-04-16 00:00:00,Buffy the Vampire Slayer,60,UPN
478,7,19,Empty Places,2003-04-30 00:00:00,Buffy the Vampire Slayer,60,UPN
479,7,20,Touched,2003-05-07 00:00:00,Buffy the Vampire Slayer,60,UPN
480,7,21,End of Days,2003-05-14 00:00:00,Buffy the Vampire Slayer,60,UPN
481,7,22,Chosen,2003-05-21 00:00:00,Buffy the Vampire Slayer,60,UPN

In [14]:
# 2번
tv_data = pd.json_normalize(data=tv_show['shows'],
                  meta=['show', 'runtime', 'network'],
                  record_path='episodes')
f_program = tv_data[tv_data['show']=='The X-Files']
s_program = tv_data[tv_data['show']=='Lost']
t_program = tv_data[tv_data['show']=='Buffy the Vampire Slayer']

In [15]:
f_program.head()

,season,episode,name,air_date,show,runtime,network
0,1,1,Pilot,1993-09-11 01:00:00,The X-Files,60,FOX
1,1,2,Deep Throat,1993-09-18 01:00:00,The X-Files,60,FOX
2,1,3,Squeeze,1993-09-25 01:00:00,The X-Files,60,FOX
3,1,4,Conduit,1993-10-02 01:00:00,The X-Files,60,FOX
4,1,5,The Jersey Devil,1993-10-09 01:00:00,The X-Files,60,FOX

In [16]:
s_program.head()

     season  episode          name             air_date  show runtime network
218       1        1     Pilot (1)  2004-09-23 00:00:00  Lost      60     ABC
219       1        2     Pilot (2)  2004-09-30 00:00:00  Lost      60     ABC
220       1        3   Tabula Rasa  2004-10-07 00:00:00  Lost      60     ABC
221       1        4     Walkabout  2004-10-14 00:00:00  Lost      60     ABC
222       1        5  White Rabbit  2004-10-21 00:00:00  Lost      60     ABC

In [17]:
t_program.head()

,season,episode,name,air_date,show,runtime,network
339,1,1,Welcome to the Hellmouth,1997-03-11 01:00:00,Buffy the Vampire Slayer,60,UPN
340,1,2,The Harvest,1997-03-11 01:00:00,Buffy the Vampire Slayer,60,UPN
341,1,3,Witch,1997-03-18 01:00:00,Buffy the Vampire Slayer,60,UPN
342,1,4,Teacher's Pet,1997-03-26 01:00:00,Buffy the Vampire Slayer,60,UPN
343,1,5,Never Kill a Boy on the First Date,1997-04-01 01:00:00,Buffy the Vampire Slayer,60,UPN

In [19]:
# 3번
excel_file = pd.ExcelWriter(path='tv_show.xlsx')
f_program.to_excel(excel_writer=excel_file, sheet_name='first_program', index=False)
s_program.to_excel(excel_writer=excel_file, sheet_name='second_program', index=False)
t_program.to_excel(excel_writer=excel_file, sheet_name='third_program', index=False)
excel_file.close()